<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
</head>
<body>
<div>
            <table border="1">
                <tr>
                    <td>Message time</td>
                    <td>Message type</td>
                    <td>Message text</td>
                </tr>
            {% for row in data %}
                <tr>
                    <td>{{ row.message_time }}</td>
                    <td>{{ row.message_type }}</td>
                    <td>{{ row.message_text }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
</body>
</html>
