<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
    div {
        border-radius: 7px;
    }
    #wrapper {
        position:fixed;
        padding:0;
        margin:0;

        top:0;
        left:0;

        width: 100%;
        height: 100%;
    }
    </style>
    <title>Tile component</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript"
    src="https://cdn.rawgit.com/brython-dev/brython/stable/www/src/brython.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.resize.js') }}"></script>

</head>
<body onload="brython({pythonpath: ['/static/', 'https://cdn.rawgit.com/brython-dev/brython/stable/www/src/Lib']})">
<script type="text/python">
from browser import document as doc
from browser import alert
from subpart import ImageTileSubpart, ContentTileSubpart, LinksTileSubpart
from tile import Tile

tile_img = ImageTileSubpart('tile_img', doc)
tile_content = ContentTileSubpart('tile_content', doc)
tile_links = LinksTileSubpart('tile_links', doc)
subparts = [tile_img, tile_content, tile_links]

tile = Tile(doc_id='tile',
        doc=doc,
        subparts=subparts,
        height={{ height }},
        width={{ width }})
</script>


<div id="wrapper">
    <div id="tile">
        <div id="tile_img"></div>
        <div id="tile_content"></div>
        <div id="tile_links"></div>
    </div>
</div>

</body>
</html>